
/Teste-Nivelamento/.vs
/Teste-Nivelamento/Questao1/bin
/Teste-Nivelamento/Questao1/obj
/Teste-Nivelamento/Questao2/bin
/Teste-Nivelamento/Questao2/obj
/Teste-Nivelamento/Questao5/bin
/Teste-Nivelamento/Questao5/obj
